

.admintitle{
   background-color:rgba(33,36,41,256);
   color: #ffff8a;
   height: 120px;
   line-height: 120px;
   /* box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.886); */
   
}

body {
        background-color: rgba(33,36,41,255);
        /* background-color:azure; */
        /* background-color: #1c1919; */
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
      }
     
a:link    { color: rgb(240, 234, 234); text-decoration: none; }
a:visited { color: rgb(240, 234, 234); ; text-decoration: none; }
a:hover   { color: rgb(240, 234, 234); ; text-decoration: none; }
a:active  { color: rgb(240, 234, 234); ; text-decoration: none; }


.h2{
        text-decoration-color: aqua;
}

/* 0000000000000000000000000000000000000 */

nav {
        background-color: #333;
        height: 50px;
        display:flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
        height: 80px;
      }

      nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

nav li {
  margin: 0 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

.nav-left a {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
}

.nav-right a {
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  padding: 10px 20px;
  background-color: #f00;
  border-radius: 5px;
}

.nav-right a:hover {
  background-color: #c00;
}

.div1 {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.div1 h1 {
  font-size: 40px;
  font-weight: bold;
  color: #333;
  margin-top: 0;
  margin-bottom: 10px;
}

.div1 p {
  font-size: 16px;
  line-height: 1.5;
  color: #666;
  margin-top: 0;
  margin-bottom: 10px;
}

.div1 a {
  color: #f00;
  text-decoration: none;
  font-weight: bold;
}

.info{
  text-align: center;
}

.footer {
    background-color: #f0f0f0;
    border: 1px solid #f0f0f0;
    
    margin-bottom: 1px;
    /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); */
    grid-area: footer_section;
    max-width: 100%;
    height: 100px;
}
.copy{
  font-family: 'Times New Roman', Times, serif;
  text-align:center;
  margin-top: 65px;
  border-top: #fff;
  
}
.nbm {
  color: #ffffff; 
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
  transition: all 0.2s ease-in-out;
}

.nbm:hover {
  background-color: #fff;
  color: #333;
  border-radius: 5px;
}
