*
  .header{
          background-color: #fff;
          height: 45px;
        }
        header a img{
          width: 134px;
        margin-top: 4px;
        }
        .login-page {
          width: 360px;
          padding: 8% 0 0;
          margin: auto;
        }
        .login-page .form .login{
          margin-top: -31px;
        margin-bottom: 26px;
        }
        .form {
          position: relative;
          z-index: 1;
          background: #FFFFFF;
          max-width: 360px;
          margin: 0 auto 100px;
          padding: 45px;
          text-align: center;
          box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
        }
        .form input {
          font-family: "Roboto", sans-serif;
          outline: 0;
          background: #f2f2f2;
          width: 100%;
          border: 0;
          margin: 0 0 15px;
          padding: 15px;
          box-sizing: border-box;
          font-size: 14px;
        }
        /* css for LOGIN BUtton*/
        .form button {
          font-family: "Roboto", sans-serif;
          text-transform: uppercase;
          outline: 0;
          /* background-color: #328f8a;
          <!-- background-image: linear-gradient(45deg,#328f8a,#08ac4b); */
          background: linear-gradient(90deg, #673ab7 0%, #512da8);
          width: 100%;
          border: 0;
          padding: 15px;
          color: #FFFFFF;
          font-size: 14px;
          -webkit-transition: all 0.3 ease;
          transition: all 0.3 ease;
          cursor: pointer;
        }
        .btn:hover{
          background-color: #b9dcb9;
          color: #0e0e0e;
          
        }
        .form .message {
          margin: 15px 0 0;
          color: #0a0a0a;
          font-size: 12px;
        }
        .form .message a {
          color: #505cb4;
          text-decoration: none;
        }
        
        .container {
          position: relative;
          z-index: 1;
          max-width: 300px;
          margin: 0 auto;
        }
        
        body {
          background-color: #328f8a;
          /* background-image: linear-gradient(45deg,#328f8a,#08ac4b); */
          background: rgba(178, 182, 182, 0.641);
          font-family: "Roboto", sans-serif;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
        } 




































*/*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.body{
   
        background-image: url('office_image.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;*/
        /* filter: blur(8px);
        -webkit-filter: blur(8px);} */
   


/*.form{
    margin: auto;
    background: #000000d7;
    max-width: 550px;
    padding: 30px;
    padding-top: 20px;
    padding-left: 70px;
     opacity: 80%;
    box-shadow: 0 8px 32px 0 rgba(10, 105, 89, 0.674);
    backdrop-filter:blur(10px); 
    border-radius: 10px;
    border: 1px solid rgb(12,11,11);
    margin-top: 50px;*/
/*}
.form input{
    padding:15px;
    width: 250;
    margin-bottom: 20px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 15px;
    border-style: groove;
    background: rgba(249, 245, 245, 0);
    color: rgb(243, 243, 243);
    font-weight: bold;
    box-shadow: 0 4px 15px 0 rgba(219, 210, 210, 0.2);
}
.form input :focus{
    outline: invert;

}
.form form{
    display: flex;
    padding: 15px;
    flex-direction: column;
}
.table{
    margin-left: 2px;
}
th{
    color: rgb(2, 3, 4);
    background-color: cadetblue;
}

.table h2{
  background-color: #08e5e9;

}
/* .form button{
    padding: 10px;
    border-radius: 5px;
    color: #030000;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3 ease in out;  */


/* .form button:hover{
    transform: translateY(6px);
    box-shadow: 0 8px 32px 0 rgba(31,38,135,0.772);
} */

 input:hover[type=submit]{
    background-color: rgb(211, 5, 5);
    border: none;
    border-radius: 5px;
    color: #0b0000;
    padding: 20px 20px;
    margin: 20px 20px;
    cursor: pointer;
 }