.container {
  margin:auto;
    max-width: 82%;
    padding: 5px;
    padding-top: 20px;
    background: #00000f;
    box-shadow: 0 8px 9px 0 rgba(31, 38, 135, 0.762);
    border-radius: 20px;
    border: 1px solid rgb(12, 11, 11);
    
  }

.container table th, table td {
  border: 1px solid #fff;
  padding:2px;
  background-color:  #ffffffc2;
  text-align: center;
  
}

.container table th {
  text-align: center;

}

.btn{
  display: flex;
  gap: 2px;
}
.btn button{
  width: 70px;
}

.container table tr:nth-child(even) {
  
  margin-bottom: 50px;
}

.container button {
  background-color: #008CBA;
  color: #fff;
  border: none;
  padding: 5px 10px;
  margin-right: 25px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
}



.container button[value="Approved"] {
  background-color: #4CAF50;
}

.container button[value="Rejected"] {
  background-color: #f44336;
}

.container h2 {
  text-align: center;
  /* color: #eee8e8; */
  color: #f1d79bce;
  margin-bottom: 10px;
  font-weight: bold;
  padding-top: 10px;
  
}

.container form {
  display: flex;
  padding: 15px;
  flex-direction: column;
}

.container input {
  padding: 15px;
  width: 250px;
  margin-bottom: 20px;
  margin-top: 15px;
  margin-left: 10px;
  margin-right: 35px;  
  border: none;
  font-weight: bold;
  color: #0c0707;
  font-weight: bold;
  box-shadow: 0 4px 15px 0 rgba(255, 255, 255, 0.2);
}

.container input:focus {
  outline: invert;
}
.container button {
  padding: 10px;
  border-radius: 5px;
  border: none;
  
  
  font-weight: bold;
  box-shadow: 0 4px 15px 0 rgba(255, 255, 255, 0.2);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.container button:hover {
  transform: translateY(6px);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.772);
}

input[type=file]::file-selector-button {
  margin-right: 20px;
  border: none;
  background: #03060c;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: background .2s ease-in-out;
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 90%;
  }
}


