
::placeholder{
  color: #070101;
}
   
.glassmorphic-form {
  margin-left: 466px;
  max-width: 850px;
  padding: 30px;
  padding-top: 10px;
  background: #000000;
  box-shadow: 0 8px 32px 0 rgba(50, 38, 156, 0.874);
  border-radius: 20px;
  border: 1px solid rgba(31, 17, 163, 0.935);
  
}
table{
  margin-left: 2px;
  border-color: #000000;
  border: bold;
}

.glassmorphic-form h2 {
  text-align: center;
  color: #f1d79bce;
  margin-bottom: 10px;
  font-weight: bold;
  
}

.glassmorphic-form th {
  text-align: center;
  color: #000000;
  margin-bottom: 10px;
  font-weight: bold;
  
}

.glassmorphic-form form {
  display: flex;
  padding: 15px;
  flex-direction: column;
}

.glassmorphic-form input{
  padding: 8px;
  width: 238px;
  height: 50px;
  margin-bottom: 20px;
  margin-top: 15px;
  margin-left: 10px;
  margin-right: 15px; 
  margin-bottom: 8px; 
  border: none;
  /* background: rgba(255, 255, 255, 0.041);*/
  color: #000000;
  background: rgba( 255, 255, 255, 0.25 );
  font-weight: bold;
  backdrop-filter: blur(4px);
}

.glassmorphic-form input:hover{
box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.886);
}
.textbox{
  background-color: #efe8ae;
  text-decoration: solid rgb(0, 0, 0);
  color: #000000;
  font-weight: bold;
  background-attachment: fixed;
}
.textbox:hover{
  box-shadow: 5px 15px 10px rgba(0, 0, 0, 0.886);
}
.glassmorphic-form input:focus {
  outline: invert;
}
.glassmorphic-form button {
  padding: 10px;
  border-radius: 5px;
  border: none;
  /* background: linear-gradient(to right, #33ccff 0%, #ff99cc 100%); */
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.glassmorphic-form button:hover {
  transform: translateY(6px);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.772);
}

input[type=file]::file-selector-button {
  margin-right: 25px;
  margin-top: 1px;
  margin-bottom: 20px;
  border:#000000;
  background: #03060c;
  padding: 9px;

  padding-bottom: 8px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: background .2s ease-in-out;
}

input[type=file]::file-selector-button:hover {
  background: rgba(36, 41, 110, 0.399);
}

input[type=submit] {
  background-color: rgb(22, 20, 17);
  border: none;
  border-radius: 15px;
  color: white;
  padding: 10px 20px;
  margin: 10px 20px;
  cursor: pointer;
}
input:hover[type=submit] {
      background-color: rgba(36, 41, 110, 0.399);
      
}

@media screen and (max-width: 768px) {
  .glassmorphic-form {
    max-width: 90%;
  }
}
