.glassmorphic-showform {
        margin: auto;
        max-width: 550px;
        padding: 30px;
        padding-top: 10px;
        background: #00000f;
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.988);
        border-radius: 20px;
        border: 1px solid rgb(12, 11, 11);    
      }
    
      table{
        margin-left: 2px;
        border-radius: 15px;
      }
      
      .glassmorphic-showform td {
        text-align: center;
        color: #070101;
        margin-bottom: 10px;
        font-weight: bold;
        padding: 2px;
      }
      
      .glassmorphic-showform form {
        display: flex;
        padding: 15px;
        flex-direction: column;
      }
      
      .glassmorphic-showform input {
        padding: 65px;
        width: 250px;
        margin-bottom: 20px;
        margin-top: 15px;
        margin-left: 30px;
        margin-right: 395px;  
        border: none;
        background: rgba(255, 255, 255, 0.018);
        color: #0c0707;
        font-weight: bold;
        box-shadow: 0 4px 15px 0 rgba(255, 255, 255, 0.201);
        border-radius:10px;
      }
      
      .glassmorphic-showform input:hover{
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.886);
        border: none;
        }
    
      .glassmorphic-showform input:focus {
        outline: invert;
      }

@media screen and (max-width: 768px) {
    .glassmorphic-showform {
      max-width: 90%;
    }
  }