updemp{
    padding: 45px;
    margin-left: 45px;
    margin-right: 80px;
}
empdata{
    padding: auto;
    margin-right: 150px;
}

input[type=submit] {
    background-color: rgb(22, 20, 17);
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
    margin: 10px 20px;
    cursor: pointer;
 }
 input:hover[type=submit] {
        background-color: rgba(36, 41, 110, 0.399);
        
 }